/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap');

/* override of default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Great Vibes', sans-serif;
}

/* header */
header {
    background-color: #40a340;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 4px #CCFFCC;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: wavy;
    
}

h1 {
    font-family: 'Cinzel', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: azure;
}

#menu {
    font-size: 115%;
    letter-spacing: 5px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1.5em;
}

.active {
    border-bottom: 2px solid snow;
}


/* drop down toggle feature */
nav {
 position: absolute;
 background-color: #40a340;
 width: 100%;
 left: 0;   
 padding: 0 2rem;
 box-shadow: 0 1.5px 2px;
 display: none;
 top: 100%
}

/* toggle the nav bar */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.75rem;
}
/* main content */
main {
    background-color: aquamarine;
    /* allows main element to use surplus space */
    flex: 1 0 auto;
}

/*footer */
footer {
    background-color: beige;
}