/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap');

/* override of default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: burlywood;
    font-family: 'Great Vibes', sans-serif;
}

/* header */
header {
    background-color: blueviolet;
}

/* main content */
main {
    background-color: aquamarine;
    /* allows main element to use surplus space */
    flex: 1 0 auto;
}

/*footer */
footer {
    background-color: beige;
}